html {
    background-color: black;
}

/* create a fixed layout with the page */
body {
    width: 730px;
    margin: auto;
    background-color: lightsalmon;
}


.card {
    border: 1px solid red;
    border-radius: 12px;
    padding: 12px;
    margin: 12px;
    background-color: lightcoral;

    width: 96px;
    display: block;
}

section#icon-grid {
    display: flex;
    flex-wrap: wrap;
}